* {
    padding: 0%;
    margin: 0%;
    font-family: cursive;
}

img {
    width: 200px;
    padding: 10px 30px;
}

body {
    background: black;
}

.message-box {
    width: 75%;
    height: 150px;
    background-image: linear-gradient(rgb(0, 5, 19), rgb(0, 70, 114) 150%);
    opacity: 95%;
    z-index: 100;
    position: fixed;
    align-items: center;
    margin-left: 12.5%;
    top: 35%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 15px 0px rgb(0 244 255);
    display: none;
}

.heading-div {
    width: 100%;
    height: 70px;
    color: white;
    box-shadow: 0px 1px 10px 2px rgb(0, 39, 69);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.name-div {
    color: white;
    width: 50%;
    text-align: center;
}

.main-container {
    width: 99.8%;
    display: flex;
    justify-content: center;
}

.user-part {
    width: 50%;
    align-items: center;
    display: flex;
}

.computer-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#computer-image {
    display: none;
}

#please-select {
    color: white;
}

/*result div part*/
.result-div {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.result {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-box {
    width: 43%;
    height: 70%;
    color: #fff;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgb(0, 5, 19), rgb(0, 70, 114) 150%);
}

@keyframes result-box {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*new game part*/
.new-game-div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.button-class {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button-class:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-class:active {
    color: #000
}

.button-class:active:after {
    background: white;
    color: ba;
}

.button-class:hover:before {
    opacity: 1;
}

.button-class:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* CSS rules for screens with a maximum width of 768px */
@media screen and (min-width: 500px) {
    .new-game-div {
        padding-top: 30px;
    }

    .result-div {
        padding-top: 50px;
    }

    .main-container {
        padding-top: 30px;
    }

    .second-div {
        padding-top: 20px;
    }
}

@media screen and (max-width: 1298px) {
    img {
        width: 150px;
    }
}

@media screen and (max-width: 959px) {
    img {
        width: 120px;
    }

}

@media screen and (max-width: 840px) {
    img {
        width: 100px;
    }

    .user-part {
        display: flow-root;
        align-items: center;
        padding-left: 20px;

    }
}

@media screen and (max-width: 582px) {

    .result-box {
        width: 70%;
        height: 50%;
        background-image: linear-gradient(rgb(0, 5, 19), rgb(0, 70, 114) 150%);
    }

}

@media screen and (max-width: 350px) {
    h1 {
        font-size: larger;
    }

}